flask==3.0.2
flask-sqlalchemy==3.1.1
flask-migrate==4.0.5
werkzeug==3.0.1
opencv-python-headless==4.11.0.86
numpy==2.1.1
xgboost==2.1.4
pyOpenSSL
email-validator
gunicorn
pandas==2.2.3
pillow==11.1.0
matplotlib==3.10.0
pytz==2025.1
scikit-learn==1.6.1